@font-face {
    font-family: "huj";
    src: url("/assets/fonts/huj123.ttf");
}
@font-face {
    font-family: "justbreath";
    src: url("/assets/fonts/JustBreathe-vO6y.otf");
}
@font-face {
    font-family: "nickainley";
    src: url("/assets/fonts/Nickainley-Normal.ttf");
}